<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/easyUi/themes/icon.css}">
    <link rel="stylesheet" th:href="@{/easyUi/themes/default/easyui.css}">
    <link rel="stylesheet" th:href="@{/easyUi/demo/demo.css}">
    <script th:src="@{/js/jquery-1.12.4.js}"></script>
    <script th:src="@{/js/util.js}"></script>
    <script th:src="@{/easyUi/jquery.easyui.min.js}"></script>
    <script>
        $(function () {
            $.getJSON("/room/look", {id: getUrlParam('id')}, function (data) {
                var room = data.room;
                $("#name").textbox('setValue', room.name);
                $("#remark").textbox('setValue', room.remark);
            });
        });

        function updateRoom() {
            // 发布
            $("#ff").attr("action", "/room/save");
            var id = $("<input name='id'/>");
            id.attr("value", getUrlParam('id'));
            $("#ff").append(id);
            $("#ff").submit();
        }
    </script>
</head>

<body>
<div id="p" class="easyui-panel" title="<center>编辑车辆</center>">
    <form id="ff" method="post">
        <table style="margin:0 auto " cellpadding="10">
            <tr>
                <td>会议室名称</td>
                <td><input class="easyui-textbox" type="text" name="name" id="name"
                           data-options="required:true,prompt:'请输入会议室名称'" validType="remote['/room/queryRoomByName','name']"
                           missingMessage="会议室名称不能为空" invalidMessage="会议室名称已存在" /></td>
            </tr>
            <tr>
                <td>会议室描述:</td>
                <td><input class="easyui-textbox" type="text" id="remark" name="remark"/></td>
            </tr>
        </table>
    </form>
    <div style="text-align:center;padding:5px">
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="updateRoom()">保存</a>
        &emsp;&emsp;
        <a th:href="@{/page/xingzheng/demo1/list}" class="easyui-linkbutton">返回</a>
    </div>
</div>

</body>

</html>