<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/easyUi/themes/icon.css}">
    <link rel="stylesheet" th:href="@{/easyUi/themes/default/easyui.css}">
    <link rel="stylesheet" th:href="@{/easyUi/demo/demo.css}">
    <script th:src="@{/js/jquery-1.12.4.js}"></script>
    <script th:src="@{/easyUi/jquery.easyui.min.js}"></script>
    <script>
        $(function () { <!-- 文档就绪 -->
            nextAdmin();
            queryRoomName();
            //给第一个时间框赋值
            var myDate = new Date();
            var h = myDate.getHours();    //获取当前小时数(0-23)
            var m = myDate.getMinutes();  //获取当前分钟数(0-59)
            var time = h + ":" + m;
            $('#day').datebox().datebox('calendar').calendar({
                validator: function(date){
                    var now = new Date();
                    var d1 = new Date(now.getFullYear(), now.getMonth(), now.getDate());
                    var d2 = new Date(now.getFullYear(), now.getMonth(), now.getDate()+20);
                    return d1<=date && date<=d2;
                }
            });
            //查询第一个时间框并赋给第二个时间框最小值
            $('#starttime').timespinner({
                min: time,
                onChange: function () {
                    $('#endtime').timespinner({
                        min: $('#starttime').timespinner('getValue'),
                        max: '18:00'
                    });
                }
            });
        });
        <!-- 文档就绪  end! -->
        //下拉框赋值
        function nextAdmin() {
            $('#adminid').combobox({
                url: '/carreserve/nextAdmin/' + $("#userId").val(),
                valueField: 'id',
                textField: 'name',
                onLoadSuccess: function (data) {
                    if (data) {
                        $('#adminid').combobox('setValue', data[0].id);
                    }
                }
            });
        }

        //查询会议室名字下拉框
        function queryRoomName() {
            $('#name').combobox({
                url: '/roomReserve/queryRoomName',
                valueField: 'id',
                textField: 'name',
                onLoadSuccess: function (data) {
                    if (data) {
                        $('#name').combobox('setValue', data[0].id);
                    }
                }
            });
        }

        //添加一条会议室申请并添加一条任务
        function add() {
            var x = $("#day").textbox('getValue');
            var x1 = $("#starttime").textbox('getValue');
            var x2 = $("#endtime").textbox('getValue');
            x3 = x + " " + x1;
            x4 = x + " " + x2;
            $.ajax({
                url: "/roomReserve/add",
                type: "post",
                dataType: "json",
                data: {
                    "a": x3,
                    "x4": x4,
                    "name": $("#name").textbox('getValue'),
                    "userId":
                        $("#userId").val(),
                    "type": $("#type").textbox('getValue'),
                    "adminid": $("#adminid").textbox('getValue')
                },
                success: function () {
                    window.location.href = "/page/myself/demo1/list";
                }
            })

        }
    </script>
</head>

<body>
<div id="p" class="easyui-panel" title="<center>会议室预定</center>">
    <form id="ff" method="post">
        <table style="margin:0 auto " cellpadding="10">
            <tr>
                <td>预定日期:</td>
                <td><input class="easyui-datebox" name="day" id="day"/></td>
                <td>预定时间:</td>
                <td><input class="easyui-timespinner" data-options="max:'18:00'" name="starttime1" id="starttime"/></td>
                <td>to:</td>
                <td><input id="endtime" name="endtime1" class="easyui-timespinner"></td>
            </tr>
            <tr>
                <td>会议室名称:</td>
                <td>
                    <select id="name" class="easyui-combobox" style="width:150px;" name="name">
                        <option value="0"> ----请选择----</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>会议室预订人:</td>
                <td>
                    <input type="hidden" th:value="${session.user.id}" id="userId" name="userid">
                    <span th:text="${session.user.name}"></span>
                </td>
            </tr>
            <tr>
                <td>会议类型:</td>
                <td>
                    <select id="type" class="easyui-combobox" style="width:150px;" name="type">
                        <option value="1">会议</option>
                        <option value="2">面试</option>
                        <option value="3">培训</option>
                        <option value="4">会客</option>
                        <option value="5">其他</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>下一步审批人:</td>
                <td>
                    <select id="adminid" class="easyui-combobox" style="width:150px;" name="adminid">
                        <option value="0"> ----请选择----</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><a href="javascript:void(0)" class="easyui-linkbutton" onclick="add()">预定</a></td>
                <td><a href="javascript:history.go(-1)" class="easyui-linkbutton">返回</a></td>
            </tr>
        </table>
    </form>
</div>

</body>

</html>