<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/easyUi/themes/icon.css}">
    <link rel="stylesheet" th:href="@{/easyUi/themes/default/easyui.css}">
    <link rel="stylesheet" th:href="@{/easyUi/demo/demo.css}">
    <script th:src="@{/js/jquery-1.12.4.js}"></script>
    <script th:src="@{/easyUi/jquery.easyui.min.js}"></script>
    <script>
        // 文档就绪
        $(function () {
            queryRoleList();
        });
        // 查询用户列表
        function queryRoleList() {
            // esayUI
            $("#tab")
                .datagrid(
                    {
                        url : "/role/queryRolePage",
                        pagination : true,//显示分页工具栏
                        fitColumns : true,// 自动扩展大小
                        title : "角色列表",// 标题
                        pageList : [ 3,6,9],// 列表记录数的下拉框值
                        pageSize : 3,// 默认每页记录数
                        queryParams : queryParams(),//传递参数（*）
                        columns : [ [
                            {
                                field : 'name',
                                title : '角色名称',
                                align : 'center',
                                width :50
                            },
                            {
                                field : 'remark',
                                title : '描述',
                                align : 'center',
                                width : 50
                            },
                            {
                                field : 'state',
                                title : '状态',
                                align : 'center',
                                width : 50,
                                formatter : function(value, row, index) {
                                    return value==1?"启用":"禁用";
                                }
                            },
                            {
                                field : 'id',
                                title : "操作",
                                align : 'center',
                                width : 80,
                                formatter : function(value, row, index) {
                                    var text;
                                    var id = value;
                                    if(row.state==1){
                                        text = '<a href="/role/updateRoleState/2/'+id+'">禁用</a> |';
                                    }else{
                                        text = '<a href="/role/updateRoleState/1/'+id+'">启用</a> |';
                                    }
                                    return text+' <a href="/page/system/role/edit?id='+id+'">编辑</a> | <a href="javascript:void(0);" onclick=del('+id+')>删除</a>';
                                }
                            } ] ],
                        toolbar : [ {
                            iconCls : 'icon-add',
                            text : '添加角色',
                            handler:function(){
                                window.location.href="/page/system/role/add";
                            }
                        }]

                    });
            dispalyPager();
        }
        // 刷新表格
        function reloadtable(){
            $('#tab').datagrid("load",queryParams());   //点击搜索
        }
        // 角色列表分页工具栏
        function dispalyPager() {
            $("#tab").datagrid("getPager").pagination({
                beforePageText : '当前页',
                afterPageText : '共{pages}',
                displayMsg : '当前显示从{from}到{to}共{total}条记录'
            });
        }
        //得到查询的参数
        function queryParams() {
            var temp = { //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                name:$("#searchname").val()
            };
            return temp;
        }
        // 删除
        function del(id) {
            $.messager.confirm('删除确认','您确认要删除吗?',function(r){
                if (r){
                    window.location.href="/role/deleteRole/"+id;
                }
            });
        }
    </script>
</head>
<body>
<!-- 搜索列表 -->
<div style="text-align: center">
    <label for="searchname">角色名称：</label>
    <input name="searchname" class="easyui-searchbox" data-options="prompt:'请输入角色名称',searcher:reloadtable" style="width:20%" id="searchname">
</div>
<p></p>
<!-- 角色列表 -->
<table id="tab"></table>
</body>
</html>