<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/easyUi/themes/icon.css}">
    <link rel="stylesheet" th:href="@{/easyUi/themes/default/easyui.css}">
    <link rel="stylesheet" th:href="@{/easyUi/demo/demo.css}">
    <script th:src="@{/js/jquery-1.12.4.js}"></script>
    <script th:src="@{/easyUi/jquery.easyui.min.js}"></script>
    <script>
        function add(){
            // 发布
            $("#ff").attr("action","/car/add");
            $("#ff").submit();
        }
    </script>
</head>

<body>
<div id="p" class="easyui-panel" title="<center>添加车俩</center>">
    <form id="ff" method="post">
        <table style="margin:0 auto " cellpadding="10">
            <tr>
                <td>车牌号 :</td>
                <td><input class="easyui-textbox" type="text" name="carid" id="carid"
                           data-options="required:true,prompt:'请输入车牌号'" validType="remote['/car/querycarid','carid']"
                           missingMessage="车牌号不能为空" invalidMessage="车牌号已存在" />
                </td>
            </tr>
            <tr>
                <td>车型:</td>
                <td><input class="easyui-textbox" type="text" name="type" id="type"/></td>
            </tr>
            <tr>
                <td>颜色:</td>
                <td><input class="easyui-textbox" type="text" name="color" id="color"/></td>
            </tr>
            <tr>
                <td>备注:</td>
                <td><input class="easyui-textbox" type="text" id="remark" name="remark"/></td>
            </tr>
            <tr>
                <td><a href="javascript:void(0)" class="easyui-linkbutton" onclick="add()">保存</a></td>
                <td><a href="javascript:history.go(-1)" class="easyui-linkbutton" >返回</a></td>
            </tr>
        </table>
    </form>
</div>

</body>

</html>