<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/easyUi/themes/icon.css}">
    <link rel="stylesheet" th:href="@{/easyUi/themes/default/easyui.css}">
    <link rel="stylesheet" th:href="@{/easyUi/demo/demo.css}">
    <script th:src="@{/js/jquery-1.12.4.js}"></script>
    <script th:src="@{/easyUi/jquery.easyui.min.js}"></script>
    <script type="text/javascript">
        // 文档就绪
        $(function () {
            queryCarList();
        });
        // 查询列表
        function queryCarList() {
            // esayUI
            $("#tab").datagrid({
                    url : "/car/list",
                    pagination : true,//显示分页工具栏
                    fitColumns : true,// 自动扩展大小
                    title : "车辆列表",// 标题
                    pageList : [ 5, 10, 15, 20 ],// 列表记录数的下拉框值
                    pageSize : 5,// 默认每页记录数
                    columns : [ [
                        {
                            field : 'carid',
                            title : '车牌号',
                            align : 'center',
                            width :50
                        },
                        {
                            field : 'type',
                            title : '车型',
                            align : 'center',
                            width :50
                        },
                        {
                            field : 'color',
                            title : '颜色',
                            align : 'center',
                            width :50
                        },
                        {
                            field : 'remark',
                            title : '备注',
                            align : 'center',
                            width :50
                        },
                        {
                            field : 'opt',
                            title : "操作",
                            align : 'center',
                            width :50,
                            formatter : function(value, row, index) {
                                    return '<a href="javascript:void(0)" onclick="del('+row.id+')">删除</a>' +
                                        '| <a href="/page/xingzheng/demo2/edit?id='+row.id+' ">编辑</a> ' ;
                            }
                        } ] ],
                    toolbar : [ {
                        iconCls : 'icon-add',
                        align : 'center',
                        text : '添加车辆',
                        handler:function(){
                            window.location.href="/page/xingzheng/demo2/add";
                        }
                    }]
                });
            dispalyPager();
        } //查询列表--->end
        //删除一辆车
        function del(id) {
            $.messager.confirm('删除确认','您确定要删除吗?',function(r){
                if (r){
                    window.location.href="/car/delete/"+id;
                }
            });
        }
        // 列表分页工具栏
        function dispalyPager() {
            $("#tab").datagrid("getPager").pagination({
                beforePageText : '当前页',
                afterPageText : '共{pages}',
                displayMsg : '当前显示从{from}到{to}共{total}条记录'
            });
        }
        function back(){
            $("#win").window("close");
        }


    </script>
</head>
<body>
<a th:href="@{/page/xingzheng/demo2/yuding}" class="easyui-linkbutton">用车预定</a>
<!-- 车辆列表 -->
<table id="tab"></table>
</body>
</html>