<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/easyUi/themes/icon.css}">
    <link rel="stylesheet" th:href="@{/easyUi/themes/default/easyui.css}">
    <link rel="stylesheet" th:href="@{/easyUi/demo/demo.css}">
    <script th:src="@{/js/jquery-1.12.4.js}"></script>
    <script th:src="@{/easyUi/jquery.easyui.min.js}"></script>
    <script>
        <!-- 文档就绪 -->
        $(function(){
            nextAdmin();
            queryCarid();
        });  <!-- 文档就绪  end! -->
        //下拉框赋值
        function nextAdmin() {
            $('#adminid').combobox({
                url: '/carreserve/nextAdmin/'+$("#userId").val(),
                valueField: 'id',
                textField: 'name',
                onLoadSuccess: function (data) {
                    if (data) {
                        $('#adminid').combobox('setValue', data[0].id);
                    }
                }
            });
        }
        //查询车牌号下拉框
        function queryCarid(){
            $('#carid').combobox({
                url: '/carreserve/queryCarid',
                valueField: 'id',
                textField: 'carid',
                onLoadSuccess: function (data) {
                    if (data) {
                        $('#carid').combobox('setValue', data[0].id);
                    }
                }
            });
        }
        //添加一条用车信息并添加一条任务
        function add() {
            $('#ff').form('submit', {
                url: "/carreserve/add",
                onSubmit: function(){
                    var isValid = $(this).form('validate');
                    if (!isValid){
                        $.messager.progress('close1');	// hide progress bar while the form is invalid
                    }
                    return isValid;	// return false will stop the form submission
                },
                success: function(){
                    window.location.href="/page/myself/demo4/list";
                }
            });
        }
    </script>
</head>

<body>
<div id="p" class="easyui-panel" title="<center>预定车辆</center>">
    <form id="ff" method="post">
        <table style="margin:0 auto " cellpadding="10">
            <tr>
                <td>车牌号:</td>
                <td>
                    <select id="carid" class="easyui-combobox" style="width:150px;" name="carid">
                        <option value="0">    ----请选择----</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>用车人:</td>
                <td>
                    <input type="hidden" th:value="${session.user.id}" id="userId" name="userid">
                    <span th:text="${session.user.name}"></span>
                </td>
            </tr>
            <tr>
                <td>时间:</td>
                <td><input class="easyui-datebox"  name="starttime" id="starttime"/></td>
                <td>to:</td>
                <td><input class="easyui-datebox"  name="endtime" id="endtime"/></td>
            </tr>
            <tr>
                <td>目的地:</td>
                <td><input class="easyui-textbox" type="text" name="address" id="address"
                           data-options="required:true,prompt:'请输入目的地'" missingMessage="目的地不能为空"/></td>
            </tr>
            <tr>
                <td>申请里程:</td>
                <td><input class="easyui-textbox" type="text" name="miles" id="miles"
                           data-options="required:true,prompt:'请输入里程'" missingMessage="里程不能为空"/></td>
            </tr>
            <tr>
                <td>用车事由:</td>
                <td><input class="easyui-textbox" type="text" id="remark" name="remark"
                           data-options="required:true,prompt:'请输入用车事由'" missingMessage="用车事由不能为空"/></td>
            </tr>
            <tr>
                <td>下一步审批人:</td>
                <td>
                    <select id="adminid" class="easyui-combobox" style="width:150px;" name="adminid">
                        <option value="0">    ----请选择----</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><a href="javascript:void(0)" class="easyui-linkbutton" onclick="add()">确定</a></td>
                <td> <a th:href="@{/page/xingzheng/demo2/list}" class="easyui-linkbutton" >返回</a></td>
            </tr>
        </table>
    </form>
</div>

</body>

</html>