<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/easyUi/themes/icon.css}">
    <link rel="stylesheet" th:href="@{/easyUi/themes/default/easyui.css}">
    <link rel="stylesheet" th:href="@{/easyUi/demo/demo.css}">
    <script th:src="@{/js/jquery-1.12.4.js}"></script>
    <script th:src="@{/easyUi/jquery.easyui.min.js}"></script>
    <script>
        $(function(){
            //根据部门Id查询部门名称
            //var userid =   $("#userid").val();
            var deptid =   $("#deptid").val();
            $.ajax({
               url:"/dept/selectByPrimaryKey/"+deptid,
                dataType:"json",
                type:"post",
                success : function(data){

                    $("#deptname").append("<span>"+data.name+"</span>");
                },
                error : function(){
                   alert("错误");
                }
            });
        });//文档就绪---end
        //添加一条用章申请
         function addCachet(){

         }
    </script>
 </head>

<body>
  <table id="tab"></table>
  <input type="hidden" th:value="${session.user.id}" id="userid">
  <input type="hidden" th:value="${session.user.deptid}" id="deptid">
  <div id="p" class="easyui-panel" title="<center>用章管理</center>">
      <form id="ff" method="post">
          <table style="margin:0 auto " cellpadding="10">
              <tr>
                  <td>姓名:</td>
                  <td>
                      <span th:text="${session.user.name}"></span>
                  </td>
              </tr>
              <tr>
                  <td>申请时间:</td>
                  <td><input class="easyui-datebox" name="utime" id="utime"/></td>
              </tr>
              <tr>
                  <td>部门:</td>
                  <td id="deptname">

                  </td>
              </tr>
              <tr>
                  <td>用章类型:</td>
                  <td>
                    <select id="type" class="easyui-combobox" style="width:170px;">
                      <option value="0">    ----请选择----</option>
                    </select>
                  </td>
              </tr>
              <tr>
                  <td>备注:</td>
                  <td><input class="easyui-textbox" type="text" name="remark" id="remark" /></td>
              </tr>
              <tr>
                  <td>下一步审批人:</td>
                  <td>
                      <select id="adminid" class="easyui-combobox" style="width:170px;">
                          <option value="0">    ----请选择----</option>
                      </select>
                  </td>
              </tr>
          </table>
      </form>
      <div style="text-align:center;padding:5px">
          <a href="javascript:void(0)" class="easyui-linkbutton" onclick="addCachet()">确定</a>
          &emsp;&emsp;
          <a href="#" onclick="location.href='javascript:history.go(-1)'" class="easyui-linkbutton">返回</a>
      </div>
  </div>

</body>

</html>