<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.oa.mapper.AnnounceMapper">
  <resultMap id="BaseResultMap" type="com.example.oa.po.Announce">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="startTime" jdbcType="DATE" property="starttime" />
    <result column="endTime" jdbcType="DATE" property="endtime" />
    <result column="subTime" jdbcType="DATE" property="subtime" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
  </resultMap>
  <resultMap id="AnnounceDetail" type="com.example.oa.po.Announce">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="startTime" jdbcType="DATE" property="starttime" />
    <result column="endTime" jdbcType="DATE" property="endtime" />
    <result column="subTime" jdbcType="DATE" property="subtime" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <association property="user" javaType="User">
      <id column="id2" jdbcType="INTEGER" property="id" />
      <result column="name" jdbcType="VARCHAR" property="name" />
    </association>
    <association property="task" javaType="Task">
      <id column="id" jdbcType="INTEGER" property="id"/>
      <result column="type" jdbcType="INTEGER" property="type"/>
      <result column="state" jdbcType="INTEGER" property="state"/>
    </association>
  </resultMap>

  <sql id="Base_Column_List">
    id, title, startTime, endTime, subTime, userId, content,state
  </sql>
  <!-- 查询刚刚添加的一条通告ID -->
  <select id="queryAnnounceId" resultType="int" >
    SELECT max(announce.id)
    FROM announce
  </select>
  <!-- 查询通告条数  -->
  <select id="countAnnounce" resultType="int" >
    SELECT
    COUNT(1)
    FROM
    (
    SELECT DISTINCT
    A.id,
    A.title,
    A.startTime,
    A.endTime,
    A.subTime,
    A.content,
    T.state,
    U.`name`
    FROM
    announce AS A
    LEFT JOIN `user` AS U ON A.userId = U.id
    INNER JOIN task AS T ON A.userId = T.userId
    WHERE
    T.type = 9
    )AS COUA
      <where>
          <if test="title!=null and title!=''">
              A.title like concat('%',#{title},'%')
          </if>
          <if test="time1!=null" >
              and TO_DAYS(A.subTime) &gt;=  TO_DAYS  (#{time1})
          </if>
          <if test="time2!=null">
              and TO_DAYS(A.subTime) &lt;=  TO_DAYS  (#{time2})
          </if>
      </where>
  </select>
  <!--根据id查询通告详细信息-->
  <select id="lookAnnounceById" resultMap="AnnounceDetail">
    select A.id,
           A.title,
           A.startTime,
           A.endTime,
           A.subTime,
           A.content,
           U.`name` ,
           U.id  As  id2
            from announce A
           INNER JOIN `user` AS U ON A.userId = U.id
           where A.id=#{id,jdbcType=INTEGER}
  </select>
  <!-- 查询已经审批完成的通告 -->
  <select id="queryAnnounceListByState" resultMap="AnnounceDetail">
    SELECT DISTINCT
    A.id,
    A.title,
    A.startTime,
    A.endTime,
    A.subTime,
    A.content,
    T.state,
    U.`name`
    FROM
    announce AS A
    left JOIN `user` AS U
    ON A.userId = U.id
    INNER join task AS T
    ON A.userId = T.userId
    <where>
      T.type = 9 and T.state = #{state}
      <if test="title!=null and title!=''">
        and A.title like concat('%',#{title},'%')
      </if>
      <if test="time1!=null">
        and TO_DAYS(A.subTime) &gt;=  TO_DAYS  (#{time1})
      </if>
      <if test="time2!=null">
        and TO_DAYS(A.subTime) &lt;=  TO_DAYS  (#{time2})
      </if>
    </where>
    order BY A.id desc
    limit ${pageNumber},${pageSize}

  </select>
  <!--查询通告列表-->
  <select id="queryAnnounceList" resultMap="AnnounceDetail">
    SELECT DISTINCT
           A.id,
           A.title,
           A.startTime,
           A.endTime,
           A.subTime,
           A.content,
           T.state,
           U.`name`
    FROM
         announce AS A
    left JOIN `user` AS U
    ON A.userId = U.id
    INNER join task AS T
    ON A.userId = T.userId
    <where>
        T.type = 9
      <if test="title!=null and title!=''">
        and title like concat('%',#{title},'%')
      </if>
      <if test="time1!=null" >
        and TO_DAYS(A.subTime) &gt;=  TO_DAYS  (#{time1})
      </if>
      <if test="time2!=null">
        and TO_DAYS(A.subTime) &lt;=  TO_DAYS  (#{time2})
      </if>
    </where>
    order BY A.id desc
    limit ${pageNumber},${pageSize}

  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from announce
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <!-- 添加一条通告 -->
  <insert id="insert" parameterType="com.example.oa.po.Announce">
    insert into announce (title, startTime,
      endTime, subTime, userId, 
      content)
    values (#{announce.title,jdbcType=VARCHAR}, #{announce.starttime,jdbcType=DATE},
      #{announce.endtime,jdbcType=DATE},now(), #{announce.userid,jdbcType=INTEGER},
      #{announce.content,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.oa.po.Announce">
    insert into announce
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="starttime != null">
        startTime,
      </if>
      <if test="endtime != null">
        endTime,
      </if>
        subTime,
      <if test="userid != null">
        userId,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=DATE},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=DATE},
      </if>
        now(),
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.oa.po.Announce">
    update announce
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        startTime = #{starttime,jdbcType=DATE},
      </if>
      <if test="endtime != null">
        endTime = #{endtime,jdbcType=DATE},
      </if>
      <if test="subtime != null">
        subTime = now(),
      </if>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>