<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.oa.mapper.CarMapper">
    <resultMap id="BaseResultMap" type="com.example.oa.po.Car">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="carId" jdbcType="VARCHAR" property="carid"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="color" jdbcType="VARCHAR" property="color"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, carId, type, color, remark
    </sql>
    <!-- 添加车辆时查询车牌号是否存在 -->
    <select id="queryCarid" resultType="com.example.oa.po.Car">
        SELECT C.id, C.carId, C.type, C.color, C.remark
        FROM car AS C
        WHERE C.carId = #{carid}
    </select>
    <!-- 查询条数 -->
    <select id="countCar" resultType="int">
        select count(1)
        from car
    </select>
    <select id="queryCaridIsNotExist" resultMap="BaseResultMap">
        SELECT c1.*
        FROM car As c1
        WHERE c1.carId NOT IN (SELECT C.carId
                               FROM car AS C
                                        LEFT JOIN car_reserve AS R ON C.carId = R.carId
                               WHERE R.endTime > NOW())
    </select>
    <!-- 查询车辆列表 -->
    <select id="queryCarList" resultMap="BaseResultMap">
        SELECT c.id, c.carId, c.type, c.color, c.remark
        FROM car AS c
        limit ${pageNumber},${pageSize}
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from car
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from car
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.example.oa.po.Car">
        insert into car (id, carId, type, color, remark)
        values (#{id,jdbcType=INTEGER},
                #{carid,jdbcType=VARCHAR},
                #{type,jdbcType=VARCHAR},
                #{color,jdbcType=VARCHAR},
                #{remark,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.example.oa.po.Car">
        insert into car
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="carid != null">
                carId,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="color != null">
                color,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="carid != null">
                #{carid,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="color != null">
                #{color,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.oa.po.Car">
        update car
        <set>
            <if test="carid != null">
                carId = #{carid,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="color != null">
                color = #{color,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.oa.po.Car">
        update car
        set carId  = #{carid,jdbcType=VARCHAR},
            type   = #{type,jdbcType=VARCHAR},
            color  = #{color,jdbcType=VARCHAR},
            remark = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>