<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.oa.mapper.DocumentMapper">
  <resultMap id="BaseResultMap" type="com.example.oa.po.Document">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="pId" jdbcType="INTEGER" property="pid" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="startTime" jdbcType="DATE" property="starttime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="isdelete" jdbcType="INTEGER" property="isdelete" />
  </resultMap>
  <resultMap id="DocumentDetail" type="com.example.oa.po.Document">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="startTime" jdbcType="DATE" property="starttime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="isdelete" jdbcType="INTEGER" property="isdelete" />
    <association property="document" javaType="Document">
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="name" jdbcType="VARCHAR" property="name" />
      <result column="type" jdbcType="VARCHAR" property="type" />
      <result column="pId" jdbcType="INTEGER" property="pid" />
      <result column="userId" jdbcType="INTEGER" property="userid" />
      <result column="startTime" jdbcType="DATE" property="starttime" />
      <result column="remark" jdbcType="VARCHAR" property="remark" />
      <result column="isdelete" jdbcType="INTEGER" property="isdelete" />
    </association>
    <association property="user" javaType="User">
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="loginName" jdbcType="VARCHAR" property="loginname" />
      <result column="password" jdbcType="VARCHAR" property="password" />
      <result column="name" jdbcType="VARCHAR" property="name" />
      <result column="idcard" jdbcType="VARCHAR" property="idcard" />
      <result column="age" jdbcType="INTEGER" property="age" />
      <result column="phone" jdbcType="VARCHAR" property="phone" />
      <result column="sex" jdbcType="INTEGER" property="sex" />
      <result column="job" jdbcType="VARCHAR" property="job" />
      <result column="roleId" jdbcType="INTEGER" property="roleid" />
      <result column="photo" jdbcType="VARCHAR" property="photo" />
      <result column="orgId" jdbcType="INTEGER" property="orgid" />
      <result column="deptId" jdbcType="INTEGER" property="deptid" />
      <result column="state" jdbcType="INTEGER" property="state" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, type, pId, userId, startTime, remark, isdelete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from document
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from document
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.oa.po.Document">
    insert into document (id, name, type, 
      pId, userId, startTime, 
      remark, isdelete)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{pid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{starttime,jdbcType=DATE}, 
      #{remark,jdbcType=VARCHAR}, #{isdelete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.oa.po.Document">
    insert into document
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="pid != null">
        pId,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="starttime != null">
        startTime,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="isdelete != null">
        isdelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=DATE},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null">
        #{isdelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.oa.po.Document">
    update document
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        pId = #{pid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="starttime != null">
        startTime = #{starttime,jdbcType=DATE},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null">
        isdelete = #{isdelete,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.oa.po.Document">
    update document
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      pId = #{pid,jdbcType=INTEGER},
      userId = #{userid,jdbcType=INTEGER},
      startTime = #{starttime,jdbcType=DATE},
      remark = #{remark,jdbcType=VARCHAR},
      isdelete = #{isdelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>