<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.oa.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.example.oa.po.Menu">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="pId" jdbcType="INTEGER" property="pid"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>
    <resultMap id="MenuDetail" type="com.example.oa.po.Menu">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <association property="menu" javaType="Menu">
            <id column="id" jdbcType="INTEGER" property="id"/>
            <result column="url" jdbcType="VARCHAR" property="url"/>
            <result column="pId" jdbcType="INTEGER" property="pid"/>
            <result column="state" jdbcType="INTEGER" property="state"/>
            <result column="name" jdbcType="VARCHAR" property="name"/>
        </association>
    </resultMap>
    <sql id="Base_Column_List">
        id, url, pId, state, name
    </sql>
    <!-- 查询某个角色的父级菜单下的子菜单-->
    <select id="queryMenuByRoleIdAndPid" resultMap="BaseResultMap">
        SELECT M.id, M.url, M.pId, M.state, M.`name`
        FROM menu AS M
        <where>
            <if test="roleid!=null and roleid!=0">
                M.id IN (SELECT R.menuId FROM role_menu AS R WHERE R.roleId = #{roleid})
            </if>
            <if test="pid != null">
                AND M.pId=${pid}
            </if>
        </where>
    </select>

    <!-- 查询所有的菜单 -->
    <select id="queryMenu" resultMap="BaseResultMap">
        SELECT * FROM menu
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from menu
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from menu
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.example.oa.po.Menu">
        insert into menu (id, url, pId, state, name)
        values (#{id,jdbcType=INTEGER},
                #{url,jdbcType=VARCHAR},
                #{pid,jdbcType=INTEGER},
                #{state,jdbcType=INTEGER},
                #{name,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.example.oa.po.Menu">
        insert into menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="pid != null">
                pId,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="name != null">
                name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="pid != null">
                #{pid,jdbcType=INTEGER},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.oa.po.Menu">
        update menu
        <set>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="pid != null">
                pId = #{pid,jdbcType=INTEGER},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.oa.po.Menu">
        update menu
        set url   = #{url,jdbcType=VARCHAR},
            pId   = #{pid,jdbcType=INTEGER},
            state = #{state,jdbcType=INTEGER},
            name  = #{name,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>