<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.oa.mapper.RoleMenuMapper">
  <resultMap id="BaseResultMap" type="com.example.oa.po.RoleMenuKey">
    <id column="roleId" jdbcType="INTEGER" property="roleid" />
    <id column="menuId" jdbcType="INTEGER" property="menuid" />
  </resultMap>
  <resultMap id="RoleMenuKeyDetail" type="com.example.oa.po.RoleMenuKey">
    <association property="role" javaType="Role">
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="name" jdbcType="VARCHAR" property="name" />
      <result column="remark" jdbcType="VARCHAR" property="remark" />
      <result column="state" jdbcType="INTEGER" property="state" />
    </association>
    <association property="menu" javaType="Menu">
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="url" jdbcType="VARCHAR" property="url" />
      <result column="pId" jdbcType="INTEGER" property="pid" />
      <result column="state" jdbcType="INTEGER" property="state" />
      <result column="name" jdbcType="VARCHAR" property="name" />
    </association>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.example.oa.po.RoleMenuKey">
    delete from role_menu
    where roleId = #{roleid,jdbcType=INTEGER}
      and menuId = #{menuid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.oa.po.RoleMenuKey">
    insert into role_menu (roleId, menuId)
    values (#{roleid,jdbcType=INTEGER}, #{menuid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.oa.po.RoleMenuKey">
    insert into role_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleid != null">
        roleId,
      </if>
      <if test="menuid != null">
        menuId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleid != null">
        #{roleid,jdbcType=INTEGER},
      </if>
      <if test="menuid != null">
        #{menuid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>