<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.oa.mapper.TaskMapper">
    <resultMap id="BaseResultMap" type="com.example.oa.po.Task">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="taskId" jdbcType="INTEGER" property="taskid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="userId" jdbcType="INTEGER" property="userid"/>
        <result column="adminId" jdbcType="INTEGER" property="adminid"/>
        <result column="startTime" jdbcType="DATE" property="starttime"/>
        <result column="subTime" jdbcType="DATE" property="subtime"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
    </resultMap>
    <resultMap id="TaskList" type="com.example.oa.po.Task">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="taskId" jdbcType="INTEGER" property="taskid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="startTime" jdbcType="DATE" property="starttime"/>
        <result column="subTime" jdbcType="DATE" property="subtime"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <association property="user" javaType="User">
            <id column="id" jdbcType="INTEGER" property="id"/>
            <result column="loginName" jdbcType="VARCHAR" property="loginname"/>
            <result column="password" jdbcType="VARCHAR" property="password"/>
            <result column="name1" jdbcType="VARCHAR" property="name"/>
            <result column="idcard" jdbcType="VARCHAR" property="idcard"/>
            <result column="age" jdbcType="INTEGER" property="age"/>
            <result column="phone" jdbcType="VARCHAR" property="phone"/>
            <result column="sex" jdbcType="INTEGER" property="sex"/>
            <result column="job" jdbcType="VARCHAR" property="job"/>
            <result column="roleId" jdbcType="INTEGER" property="roleid"/>
            <result column="photo" jdbcType="VARCHAR" property="photo"/>
            <result column="orgId" jdbcType="INTEGER" property="orgid"/>
            <result column="deptId" jdbcType="INTEGER" property="deptid"/>
            <result column="state1" jdbcType="INTEGER" property="state"/>
        </association>
    </resultMap>
    <resultMap id="TaskDetail" type="com.example.oa.po.Task">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="taskId" jdbcType="INTEGER" property="taskid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="startTime" jdbcType="DATE" property="starttime"/>
        <result column="subTime" jdbcType="DATE" property="subtime"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <association property="user" javaType="User">
            <id column="id" jdbcType="INTEGER" property="id"/>
            <result column="loginName" jdbcType="VARCHAR" property="loginname"/>
            <result column="password" jdbcType="VARCHAR" property="password"/>
            <result column="name" jdbcType="VARCHAR" property="name"/>
            <result column="idcard" jdbcType="VARCHAR" property="idcard"/>
            <result column="age" jdbcType="INTEGER" property="age"/>
            <result column="phone" jdbcType="VARCHAR" property="phone"/>
            <result column="sex" jdbcType="INTEGER" property="sex"/>
            <result column="job" jdbcType="VARCHAR" property="job"/>
            <result column="roleId" jdbcType="INTEGER" property="roleid"/>
            <result column="photo" jdbcType="VARCHAR" property="photo"/>
            <result column="orgId" jdbcType="INTEGER" property="orgid"/>
            <result column="deptId" jdbcType="INTEGER" property="deptid"/>
            <result column="state" jdbcType="INTEGER" property="state"/>
        </association>
        <association property="admin" javaType="User">
            <id column="id" jdbcType="INTEGER" property="id"/>
            <result column="loginName" jdbcType="VARCHAR" property="loginname"/>
            <result column="password" jdbcType="VARCHAR" property="password"/>
            <result column="name" jdbcType="VARCHAR" property="name"/>
            <result column="idcard" jdbcType="VARCHAR" property="idcard"/>
            <result column="age" jdbcType="INTEGER" property="age"/>
            <result column="phone" jdbcType="VARCHAR" property="phone"/>
            <result column="sex" jdbcType="INTEGER" property="sex"/>
            <result column="job" jdbcType="VARCHAR" property="job"/>
            <result column="roleId" jdbcType="INTEGER" property="roleid"/>
            <result column="photo" jdbcType="VARCHAR" property="photo"/>
            <result column="orgId" jdbcType="INTEGER" property="orgid"/>
            <result column="deptId" jdbcType="INTEGER" property="deptid"/>
            <result column="state" jdbcType="INTEGER" property="state"/>
        </association>
    </resultMap>
    <resultMap id="TaskAdmin" type="com.example.oa.po.Task">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="taskId" jdbcType="INTEGER" property="taskid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="startTime" jdbcType="DATE" property="starttime"/>
        <result column="subTime" jdbcType="DATE" property="subtime"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <association property="admin" javaType="User">
            <id column="id" jdbcType="INTEGER" property="id"/>
            <result column="loginName" jdbcType="VARCHAR" property="loginname"/>
            <result column="password" jdbcType="VARCHAR" property="password"/>
            <result column="name1" jdbcType="VARCHAR" property="name"/>
            <result column="idcard" jdbcType="VARCHAR" property="idcard"/>
            <result column="age" jdbcType="INTEGER" property="age"/>
            <result column="phone" jdbcType="VARCHAR" property="phone"/>
            <result column="sex" jdbcType="INTEGER" property="sex"/>
            <result column="job" jdbcType="VARCHAR" property="job"/>
            <result column="roleId" jdbcType="INTEGER" property="roleid"/>
            <result column="photo" jdbcType="VARCHAR" property="photo"/>
            <result column="orgId" jdbcType="INTEGER" property="orgid"/>
            <result column="deptId" jdbcType="INTEGER" property="deptid"/>
            <result column="state1" jdbcType="INTEGER" property="state"/>
        </association>
    </resultMap>
    <sql id="Base_Column_List">
        id, type, taskId, name, userId, adminId, startTime, subTime, state
    </sql>
    <!-- 根据taskid查询任务 -->
    <select id="queryTaskByTaskId" resultMap="TaskAdmin">
        SELECT
               T.id,
               T.type,
               T.taskId,
               T.`name`,
               T.userId,
               T.adminId,
               T.startTime,
               T.subTime,
               T.state,
               A.`name` AS name1
        FROM
             task AS T
                 INNER JOIN `user` AS A ON T.adminId = A.id
        WHERE T.taskId = ${taskid}

    </select>
    <!-- 查询根据Task查询任务列表 -->
    <select id="queryTaskSelective" resultMap="TaskList">
        SELECT
        T.id,
        T.type,
        T.taskId,
        T.`name`,
        T.userId,
        T.adminId,
        T.startTime,
        T.subTime,
        T.state,
        U.`name` AS name1
        FROM
        task AS T
        INNER JOIN `user` AS U ON T.userId = U.id
        <where>
            <if test="task.state!=null and task.state!=0">
                T.state = #{task.state}
            </if>
            <if test="task.userid !=null and task.userid!=0">
                AND T.userId = #{task.userid}
            </if>
            <if test="task.adminid!=null and task.adminid!=0">
                AND T.adminId = #{task.adminid}
            </if>
            <if test="task.time1!=null">
                and T.starttime &gt;= #{task.time1}
            </if>
            <if test="task.time2!=null">
                and T.starttime &lt;= #{task.time2}
            </if>
            <if test="task.type!=null and task.type!=0">
                and T.type = #{task.type}
            </if>
        </where>
        ORDER BY T.id DESC
        LIMIT ${pageNumber},${pageSize}
    </select>
    <!-- 统计根据Task任务列表总数量 -->
    <select id="countTaskSelective" resultType="int">
        SELECT COUNT(1) FROM task AS T
        <where>
            <if test="task.state!=null and task.state!=0">
                T.state = #{task.state}
            </if>
            <if test="task.userid !=null and task.userid!=0">
                AND T.userId = #{task.userid}
            </if>
            <if test="task.adminid!=null and task.adminid!=0">
                AND T.adminId = #{task.adminid}
            </if>
            <if test="task.time1!=null ">
                and T.starttime &gt;= #{task.time1}
            </if>
            <if test="task.time2!=null ">
                and T.starttime &lt;= #{task.time2}
            </if>
            <if test="task.type!=null and task.type!=0">
                and T.type = #{task.type}
            </if>
        </where>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select *
        from task
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from task
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.example.oa.po.Task">
        insert into task (id, type, taskId, name, userId, adminId, startTime, subTime, state)
        values (#{id,jdbcType=INTEGER},
                #{type,jdbcType=INTEGER},
                #{taskid,jdbcType=INTEGER},
                #{name,jdbcType=VARCHAR},
                #{userid,jdbcType=INTEGER},
                #{adminid,jdbcType=INTEGER},
                #{starttime,jdbcType=DATE},
                #{subtime,jdbcType=DATE},
                #{state,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.example.oa.po.Task">
        insert into task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="taskid != null">
                taskId,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="userid != null">
                userId,
            </if>
            <if test="adminid != null">
                adminId,
            </if>
            <if test="starttime != null">
                startTime,
            </if>
            <if test="subtime != null">
                subTime,
            </if>
            <if test="state != null">
                state,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="taskid != null">
                #{taskid,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=INTEGER},
            </if>
            <if test="adminid != null">
                #{adminid,jdbcType=INTEGER},
            </if>
            <if test="starttime != null">
                #{starttime,jdbcType=DATE},
            </if>
            <if test="subtime != null">
                #{subtime,jdbcType=DATE},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.oa.po.Task">
        update task
        <set>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="taskid != null">
                taskId = #{taskid,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="userid != null">
                userId = #{userid,jdbcType=INTEGER},
            </if>
            <if test="adminid != null">
                adminId = #{adminid,jdbcType=INTEGER},
            </if>
            <if test="starttime != null">
                startTime = #{starttime,jdbcType=DATE},
            </if>
            <if test="subtime != null">
                subTime = #{subtime,jdbcType=DATE},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.oa.po.Task">
        update task
        set type      = #{type,jdbcType=INTEGER},
            taskId    = #{taskid,jdbcType=INTEGER},
            name      = #{name,jdbcType=VARCHAR},
            userId    = #{userid,jdbcType=INTEGER},
            adminId   = #{adminid,jdbcType=INTEGER},
            startTime = #{starttime,jdbcType=DATE},
            subTime   = #{subtime,jdbcType=DATE},
            state     = #{state,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>