<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
   <meta charset="UTF-8">
     <link rel="stylesheet" th:href="@{/easyUi/themes/icon.css}">
     <link rel="stylesheet" th:href="@{/easyUi/themes/default/easyui.css}">
     <link rel="stylesheet" th:href="@{/easyUi/demo/demo.css}">
     <script th:src="@{/js/jquery-1.12.4.js}"></script>
     <script th:src="@{/easyUi/jquery.easyui.min.js}"></script>
     <script>
         $.extend($.fn.validatebox.defaults.rules, {
             equals: {
                 validator: function(value,param){
                     return value == $(param[0]).val();
                 },
                 message: '两次密码输入不一致'
             }
         });
         // 保存密码
         function save() {
             $('#form').form('submit', {
                 url: "/user/updatePassword",
                 onSubmit: function(){
                     var isValid = $(this).form('validate');
                     if (!isValid){
                         $.messager.progress('close1');	// hide progress bar while the form is invalid
                     }
                     return isValid;	// return false will stop the form submission
                 },
                 success: function(){
                     $.messager.alert('提示框','密码修改成功');
                     $("#oldpassword").textbox('setValue','');
                     $("#newpassword").textbox('setValue','');
                     $("#repetitionpassword").textbox('setValue','');
                 }
             });
         }
     </script>
</head>

<body>
<div id="page" class="easyui-panel" title="<center>修改密码</center>">
    <form id="form" method="post">
        <table style="margin:0 auto " cellpadding="10">
            <tr>
                <td><label for="oldpassword">原密码:</label></td>
                <td><input class="easyui-textbox" type="password" id="oldpassword" name="oldpassword" style="width:150px;"
                           data-options="required:true,prompt:'请输入原密码'" validType="remote['/user/queryUserPassword','oldpassword']"
                           missingMessage="原密码不能为空" invalidMessage="原密码输入不正确"
                /></td>
            </tr>
            <tr>
                <td><label for="newpassword">新密码:</label></td>
                <td><input class="easyui-textbox" type="password" id="newpassword" name="newpassword" style="width:150px;"
                           data-options="required:true,prompt:'请输入新密码'" missingMessage="新密码不能为空"
                /></td>
            </tr>
            <tr>
                <td><label for="repetitionpassword">确认密码：</label></td>
                <td><input class="easyui-textbox" type="password" id="repetitionpassword" name="repetitionpassword" style="width:150px;"
                           data-options="required:true,prompt:'请输入确认密码'" missingMessage="确认密码不能为空"
                           validType="equals['#newpassword']"
                /></td>
            </tr>
            <tr>
                <td><a href="javascript:void(0)" class="easyui-linkbutton" onclick="save()">保存</a></td>
                <td></td>
            </tr>
        </table>
    </form>
</div>
</body>

</html>