<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/easyUi/themes/icon.css}">
    <link rel="stylesheet" th:href="@{/easyUi/themes/default/easyui.css}">
    <link rel="stylesheet" th:href="@{/easyUi/demo/demo.css}">
    <script th:src="@{/js/jquery-1.12.4.js}"></script>
    <script th:src="@{/js/util.js}"></script>
    <script th:src="@{/easyUi/jquery.easyui.min.js}"></script>
    <script>
        $(function () {
            nextAdmin();
            $.getJSON("/announce/look", {id: getUrlParam('id')}, function (data) {
                console.log(data);
                var t = data.announce;
                $("#title").textbox('setValue', t.title);
                $("#starttime").textbox('setValue', t.starttime);  //日期赋值
                $("#endtime").textbox('setValue', t.endtime);  //日期赋值
                $("#content").textbox('setValue', t.content);
            });
        });

        function add() {
            // 发布
            var userId =   $("#userId").val();
            $("#ff").attr("action", "/announce/save/"+userId);
            var id = $("<input name='id'/>");
            id.attr("value", getUrlParam('id'));
            $("#ff").append(id);
            $("#ff").submit();
        }
        //下拉框赋值
        function nextAdmin() {
            $('#adminid').combobox({
                url: '/carreserve/nextAdmin/'+$("#userId").val(),
                valueField: 'id',
                textField: 'name',
                onLoadSuccess: function (data) {
                    if (data) {
                        $('#adminid').combobox('setValue', data[0].id);
                    }
                }
            });
        }
    </script>
</head>

<body>
<input type="hidden" th:value="${session.user.id}" id="userId">
<div id="p" class="easyui-panel" title="<center>编辑通告</center>">
    <form id="ff" method="post">
        <table style="margin:0 auto " cellpadding="10">
            <tr>
                <td>标题:</td>
                <td><input class="easyui-textbox" type="text" name="title" id="title" required/></td>
            </tr>
            <tr>
                <td>发布人:</td>
                <td>
                    <span th:text="${session.user.name}"></span>
                </td>
            </tr>
            <tr>
                <td>开始时间:</td>
                <td><input class="easyui-datebox" name="starttime" id="starttime"/></td>
                <td>to:</td>
                <td><input class="easyui-datebox" name="endtime" id="endtime"/></td>
            </tr>
            <tr>
                <td>内容:</td>
                <td><input class="easyui-textbox" type="text" name="content" id="content"/></td>
            </tr>
            <tr>
                <td>下一步审批人:</td>
                <td>
                    <select id="adminid" class="easyui-combobox" style="width:150px;" name="adminid">
                        <option value="0">    ----请选择----</option>
                    </select>
                </td>
            </tr>
        </table>
    </form>
    <div style="text-align:center;padding:5px">
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="add()">发布</a>
        &emsp;&emsp;
        <a th:href="@{/page/tonggao/demo1/list2}" class="easyui-linkbutton">返回</a>
    </div>
</div>

</body>

</html>