<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/easyUi/themes/icon.css}">
    <link rel="stylesheet" th:href="@{/easyUi/themes/default/easyui.css}">
    <link rel="stylesheet" th:href="@{/easyUi/demo/demo.css}">
    <script th:src="@{/js/jquery-1.12.4.js}"></script>
    <script th:src="@{/easyUi/jquery.easyui.min.js}"></script>
    <script type="text/javascript">
        // 文档就绪
        $(function () {
            queryAnnounceList();
        });
        // 查询用户列表
        function queryAnnounceList() {
            // esayUI
            $("#tab").datagrid(
                    {
                        url : "/announce/list",
                        pagination : true,//显示分页工具栏
                        fitColumns : true,// 自动扩展大小
                        title : "通告列表",// 标题
                        pageList : [ 5, 10, 15, 20 ],// 列表记录数的下拉框值
                        pageSize : 5,// 默认每页记录数
                        queryParams : queryParams(),//传递参数（*）
                        columns : [ [
                            {
                                field : 'id',
                                checkbox : true
                            },
                            {
                                field : 'title',
                                title : '名称',
                                align : 'center',
                                width :50,
                                formatter : function(value, row, index){
                                    var text = row.title;
                                    var e = "<a href='#' onclick='look("+row.id+")'>";
                                    var f ="</a>";
                                    return e+text+f;
                                }
                            },
                            {
                                field : 'user',
                                title : '发布人',
                                align : 'center',
                                width :50,
                                formatter : function(value, row, index) {
                                    var text = value.name;
                                    return text;
                                }
                            },
                            {
                                field : 'subtime',
                                title : '发布时间',
                                align : 'center',
                                width :50
                            },
                            {
                                field : 'state',
                                title : '状态',
                                align : 'center',
                                width :50,
                                formatter : function(value) {
                                    if(value==1){
                                        return "草稿";
                                    }else if(value==2) {
                                        return "已发布";
                                    }else if(value==3){
                                        return "已过期";
                                    }
                                }
                            },
                            {
                                field : 'opt',
                                title : "操作",
                                align : 'center',
                                width :50,
                                formatter : function(value, row, index) {
                                    if(row.user.deptid==2){
                                    if(row.state==1){
                                        return '<a href="">发布</a> | <a href="">编辑</a> | <a href="">删除</a>';
                                    }else {
                                        return '<a href="">删除</a>';
                                    }
                                    }else{
                                        return '';
                                    }
                                }
                            } ] ],
                        toolbar : [ {
                            iconCls : 'icon-add',
                            text : '添加通告',
                            handler:function(){
                                window.location.href="/page/tonggao/demo1/add2";
                            }
                        }]
                    });
            dispalyPager();
            // 搜索按钮绑定事件
            $("#search").click(function () {
                $('#tab').datagrid("load",queryParams());   //点击搜索
            });
        }
        //刷新表格
        function reloadtable(){
            $('#tab').datagrid("load",queryParams());   //点击搜索
        }
        // 员工列表分页工具栏
        function dispalyPager() {
            $("#tab").datagrid("getPager").pagination({
                beforePageText : '当前页',
                afterPageText : '共{pages}',
                displayMsg : '当前显示从{from}到{to}共{total}条记录'
            });
        }
        //得到查询的参数
        function queryParams() {
            var temp = { //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                time1:$('#subtime1').datebox('getValue'),
                title:$("#title").val(),
                time2:$('#subtime2').datebox('getValue')
            };
            return temp;
        }
        //根据id查看通告详细信息
        function look(id){
            $('#win').window('open');
            $.ajax({
               url:"/announce/look",
               dataType:"json",
               data:{"id":id},
               success : function(data){
                   console.log(data);
                    $("#win").append("<p>"+"标题："+data.title+"</p>"
                    +"<p>"+"显示时间段："+data.starttime+"to"+data.endtime+"</p>"
                    +"<p>"+"发布时间："+data.subtime+"</p>"
                    +"<p>"+"发布人："+data.user.name+"</p>"
                   +"<p>"+"内容："+data.content+"</p>");
               },
                error : function(){
                   alert("网络繁忙，请稍后再试！");
                }
            });
        }

    </script><!-- 列表结束 -->
</head>
<body>
    <!-- 搜索列表 -->
    <label for="title">名称：</label>
    <input  name="searchLoginname" class="easyui-searchbox" data-options="prompt:'请输入名称',searcher:reloadtable" style="width:10%" id="title">
    <label for="subtime1">发布时间：</label>
    <input  name="searchName" class="easyui-datebox" id="subtime1">
    <label for="subtime2">to：</label>
    <input  name="searchName"  class="easyui-datebox" id="subtime2">
    <!--查询按钮 -->
    <a href="javascript:void(0)" class="easyui-linkbutton" style="margin-bottom: 0px;" iconCls="icon-search" id="search">查询</a>

    <!-- 通告列表 -->
    <table id="tab"></table>
    <div id="win" class="easyui-window"   closed="true" title="查看通告" style="width:600px;height:300px"
         data-options="iconCls:'icon-save',modal:true">
    </div>

</body>
</html>