<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/easyUi/themes/icon.css}">
    <link rel="stylesheet" th:href="@{/easyUi/themes/default/easyui.css}">
    <link rel="stylesheet" th:href="@{/easyUi/demo/demo.css}">
    <script th:src="@{/js/jquery-1.12.4.js}"></script>
    <script th:src="@{/js/util.js}"></script>
    <script th:src="@{/easyUi/jquery.easyui.min.js}"></script>
    <script>
        $(function () {
            // 取到通告申请
            $.getJSON("/announce/look", {id: getUrlParam('id')}, function (data) {
                console.log(data);
                var announce = data.announce;
                var user = data.announce.user;
                $("#title").append('<span>'+announce.title+'</span>');
                $("#starttime").append('<span>'+announce.starttime+'</span>');
                $("#endtime").append('<span>'+announce.endtime+'</span>');
                $("#content").append('<span>'+announce.content+'</span>');
                $("#subtime1").append('<span>'+announce.subtime+'</span>');
                $("#username").append('<span>'+user.name+'</span>');
                $("#userid").val(user.id);
                // 取到部门
                $.getJSON("/dept/queryDeptByUserid",{"userid":$("#userid").val()},function (data) {
                    $("#deptid").append('<span>'+data.name+'</span>');
                });
            });

        });

    </script>
</head>

<body>
<input type="hidden"  id="userid">
<div id="p" class="easyui-panel" title="<center>查看通告</center>">
    <form id="ff" method="post">
        <table style="margin:0 auto " cellpadding="10">
            <tr>
                <td>最新通告通知:</td>
                <td id="title"></td>
            </tr>
            <tr>
                <td>显示时间段:</td>
                <td id="starttime"></td>
                <td>to:</td>
                <td id="endtime"></td>
            </tr>
            <tr>
                <td>发布时间:</td>
                <td id="subtime1"></td>
            </tr>
            <tr>
                <td>发布人</td>
                <td id="username"></td>
            </tr>
            <tr>
                <td>部门:</td>
                <td id="deptid"></td>
            </tr>
            <tr>
                <td>内容:</td>
                <td id="content"></td>
            </tr>
            <tr>
                <td></td>
                <td> <a href="javascript:history.go(-1)" class="easyui-linkbutton" >返回</a></td>
            </tr>
        </table>
    </form>
</div>

</body>

</html>