<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/easyUi/themes/icon.css}">
    <link rel="stylesheet" th:href="@{/easyUi/themes/default/easyui.css}">
    <link rel="stylesheet" th:href="@{/easyUi/demo/demo.css}">
    <script th:src="@{/js/jquery-1.12.4.js}"></script>
    <script th:src="@{/easyUi/jquery.easyui.min.js}"></script>
    <script th:src="@{/js/util.js}"></script>
</head>
<script>
    // 文档就绪
    $(function () {
        // 加载机构部门
        organization();
        // 加载角色
        role();
        $.getJSON("/user/queryUserInfoByUserId",{id:getUrlParam('id')},function (data) {
            $("#loginname").textbox('setValue', data.loginname);
            $("#password").textbox('setValue', data.password);
            $("#name").textbox('setValue', data.name);
            $("#idcard").textbox('setValue', data.idcard);
            $("#age").textbox('setValue', data.age);
            $("#phone").textbox('setValue', data.phone);
            $("input[type=radio][name=sex][value="+data.sex+"]").attr("checked",'checked');
            $("input[type=radio][name=state][value="+data.state+"]").attr("checked",'checked');
            $('#orgid').combobox('setValue', data.orgid);
            $('#deptid').combobox('setValue', data.deptid);
            $('#roleid').combobox('setValue', data.roleid);
            if(data.job=='普通用户'){
                $('#job').combobox('setValue', 1);
            }else if(data.job=='助理'){
                $('#job').combobox('setValue', 2);
            }else if (data.job=='部门经理') {
                $('#job').combobox('setValue', 3);
            }else {
                $('#job').combobox('setValue', 4);
            }
        });
    });

    // 加载机构
    function organization() {
        $('#orgid').combobox({
            url: '/organization/queryOrganizationList',
            valueField: 'id',
            textField: 'name',
            onChange: function () {
                dept();
            }
        });
    }

    // 加载部门
    function dept() {
        $('#deptid').combobox({
            url: '/dept/queryDeptByOrgId/' + $("#orgid").combobox("getValue"),
            valueField: 'id',
            textField: 'name',
        });
    }

    // 加载角色
    function role() {
        $('#roleid').combobox({
            url: '/role/queryRoleList',
            valueField: 'id',
            textField: 'name',
        });
    }

    // 更新用户
    function updateUser() {
        $('#form').form('submit', {
            url: "/user/updateUser/"+getUrlParam('id'),
            onSubmit: function(){
                var isValid = $(this).form('validate');
                if (!isValid){
                    $.messager.progress('close1');	// hide progress bar while the form is invalid
                }
                return isValid;	// return false will stop the form submission
            },
            success: function(){
                window.location.href="/page/system/user/list";
            }
        });
    }
</script>
<body>
<div id="page" class="easyui-panel" title="<center>编辑用户</center>">
    <form id="form" method="post">
        <table style="margin:0 auto " cellpadding="10">
            <tr>
                <td><label for="loginname">登录名:</label></td>
                <td><input class="easyui-textbox" type="text" id="loginname" name="loginname" style="width:150px;" readonly /></td>
            </tr>
            <tr>
                <td><label for="password">登录密码:</label></td>
                <td><input class="easyui-textbox" type="password" id="password" name="password" style="width:150px;"
                           data-options="required:true,prompt:'请输入登录密码'" missingMessage="登录密码不能为空"
                /></td>
            </tr>
            <tr>
                <td><label for="name">真实姓名：</label></td>
                <td><input class="easyui-textbox" type="text" id="name" name="name" style="width:150px;"
                           data-options="required:true,prompt:'请输入真实姓名'" missingMessage="真实姓名不能为空"
                /></td>
            </tr>
            <tr>
                <td><label for="idcard">身份证：</label></td>
                <td><input class="easyui-textbox" type="text" id="idcard" name="idcard" style="width:150px;"
                           data-options="required:true,prompt:'请输入身份证号'" missingMessage="身份证号不能为空"
                /></td>
            </tr>
            <tr>
                <td><label for="age">年龄：</label></td>
                <td><input class="easyui-textbox" type="text" id="age" name="age" style="width:150px;"
                           data-options="required:true,prompt:'请输入年龄'" missingMessage="年龄不能为空"
                /></td>
            </tr>
            <tr>
                <td><label for="phone">手机号：</label></td>
                <td><input class="easyui-textbox" type="text" id="phone" name="phone" style="width:150px;"
                           data-options="required:true,prompt:'请输入手机号码'" missingMessage="手机号码不能为空"
                /></td>
            </tr>
            <tr>
                <td>性别：</td>
                <td>
                    <input type="radio" id="sex1" name="sex" value="1"><label for="sex1">男</label></input>
                    <input type="radio" id="sex2" name="sex" value="2"><label for="sex2">女</label></input>
                </td>
            </tr>
            <tr>
                <td><label for="orgid">机构部门：</label></td>
                <td>
                    <select id="orgid" class="easyui-combobox" name="orgid" style="width:150px;"></select>
                    <select id="deptid" class="easyui-combobox" name="deptid" style="width:150px;"></select>
                </td>
            </tr>
            <tr>
                <td><label for="job">职称：</label></td>
                <td>
                    <select id="job" class="easyui-combobox" name="job" style="width:150px;">
                        <option value="1">普通用户</option>
                        <option value="2">助理</option>
                        <option value="3">部门经理</option>
                        <option value="4">总监</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="roleid">角色：</label></td>
                <td>
                    <select id="roleid" class="easyui-combobox" name="roleid" style="width:150px;"></select>
                </td>
            </tr>
            <tr>
                <td><label for="state1">状态:</label></td>
                <td>
                    <input type="radio" id="state1" name="state" value="1"><label for="state1">启用</label></input>
                    <input type="radio" id="state2" name="state" value="2"><label for="state2">禁用</label></input>
                </td>
            </tr>
            <tr>
                <td><a href="javascript:void(0)" class="easyui-linkbutton" onclick="updateUser()">保存</a></td>
                <td><a href="javascript:history.go(-1)" class="easyui-linkbutton" >返回</a></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>