<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/easyUI/themes/icon.css}">
    <link rel="stylesheet" th:href="@{/easyUI/themes/default/easyui.css}">
    <script th:src="@{/js/jquery-1.12.4.js}"></script>
    <script th:src="@{/easyUI/jquery.easyui.min.js}"></script>
    <script>
        // 文档就绪
        $(function () {
            queryUserList();
        });
        // 查询用户列表
        function queryUserList() {
            // esayUI
            $("#tab")
                .datagrid(
                    {
                        url : "/user/queryUserList",
                        pagination : true,//显示分页工具栏
                        fitColumns : true,// 自动扩展大小
                        title : "用户列表",// 标题
                        pageList : [ 5, 10, 15, 20 ],// 列表记录数的下拉框值
                        pageSize : 5,// 默认每页记录数
                        columns : [ [
                            {
                                field : 'id',
                                checkbox : true
                            },
                            {
                                field : 'loginname',
                                title : '用户名',
                                align : 'center'
                            },
                            {
                                field : 'name',
                                title : '真实姓名',
                                align : 'center'
                            },
                            {
                                field : 'role.name',
                                title : '角色',
                                align : 'center'
                            }, {
                                field : 'dept',
                                title : '机构/部门',
                                align : 'center',
                                formatter : function(value, row, index) {
                                    var text = row.organization.name+"/"+row.dept.name;
                                    return text;
                                }
                            },{
                                field : 'state',
                                title : '用户状态',
                                align : 'center',
                                formatter : function(value, row, index) {
                                    if(value==1){
                                        return "启用";
                                    }else{
                                        return "冻结";
                                    }
                                }
                            },
                            {
                                field : 'opt',
                                title : "操作",
                                formatter : function(value, row, index) {
                                    var text;
                                    if(row.state==1){
                                        return '<a href="">冻结</a> | <a href="">编辑</a> | <a href="">删除</a>';
                                    }else{
                                        return '<a href="">启用</a> | <a href="">编辑</a> | <a href="">删除</a>';
                                    }
                                }
                            } ] ],
                        toolbar : [ {
                            iconCls : 'icon-add',
                            text : '<a th:href="@{/page/system/user/add}">添加用户</a>'
                        }]

                    });
            dispalyPager();
        }
        // 员工列表分页工具栏
        function dispalyPager() {
            $("#tab").datagrid("getPager").pagination({
                beforePageText : '当前页',
                afterPageText : '共{pages}',
                displayMsg : '当前显示从{from}到{to}共{total}条记录'
            });
        }
    </script>
</head>
<body>
<!-- 用户列表 -->
<table id="tab"></table>
</body>
</html>