<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/easyUi/themes/icon.css}">
    <link rel="stylesheet" th:href="@{/easyUi/themes/default/easyui.css}">
    <link rel="stylesheet" th:href="@{/easyUi/demo/demo.css}">
    <script th:src="@{/js/jquery-1.12.4.js}"></script>
    <script th:src="@{/easyUi/jquery.easyui.min.js}"></script>
    <script>
        // 文档就绪
        $(function () {
            queryUserList();
        });
        // 查询用户列表
        function queryUserList() {
            // esayUI
            $("#tab")
                .datagrid(
                    {
                        url : "/user/queryUserList",
                        pagination : true,//显示分页工具栏
                        fitColumns : true,// 自动扩展大小
                        title : "用户列表",// 标题
                        pageList : [ 5, 10, 15, 20 ],// 列表记录数的下拉框值
                        pageSize : 5,// 默认每页记录数
                        queryParams : queryParams(),//传递参数（*）
                        columns : [ [
                            {
                                field : 'id',
                                checkbox : true
                            },
                            {
                                field : 'loginname',
                                title : '用户名',
                                align : 'center',
                                width :50
                            },
                            {
                                field : 'name',
                                title : '真实姓名',
                                align : 'center',
                                width : 50
                            },
                            {
                                field : 'role',
                                title : '角色',
                                align : 'center',
                                width : 50,
                                formatter : function(value, row, index) {
                                    var text = value.name;
                                    return text;
                                }
                            }, {
                                field : 'dept',
                                title : '机构/部门',
                                align : 'center',
                                width : 80,
                                formatter : function(value, row, index) {
                                    var text ;
                                    if (row.organization == undefined) {
                                        text = '无';
                                    }else{
                                        text = row.organization.name+"/"+row.dept.name;
                                    }
                                    return text;
                                }
                            },{
                                field : 'state',
                                title : '用户状态',
                                align : 'center',
                                width : 50,
                                formatter : function(value, row, index) {
                                    if(value==1){
                                        return "启用";
                                    }else{
                                        return "冻结";
                                    }
                                }
                            },
                            {
                                field : 'opt',
                                title : "操作",
                                align : 'center',
                                width : 80,
                                formatter : function(value, row, index) {
                                    var text;
                                    if(row.state==1){
                                        return '<a href="">冻结</a> | <a href="">编辑</a> | <a href="">删除</a>';
                                    }else{
                                        return '<a href="">启用</a> | <a href="">编辑</a> | <a href="">删除</a>';
                                    }
                                }
                            } ] ],
                        toolbar : [ {
                            iconCls : 'icon-add',
                            text : '<a th:href="@{/page/system/user/add}">添加用户</a>'
                        }]

                    });
            dispalyPager();
        }
        // 刷新表格
        function reloadtable(){
            $('#tab').datagrid("load",queryParams());   //点击搜索
        }
        // 员工列表分页工具栏
        function dispalyPager() {
            $("#tab").datagrid("getPager").pagination({
                beforePageText : '当前页',
                afterPageText : '共{pages}',
                displayMsg : '当前显示从{from}到{to}共{total}条记录'
            });
        }
        //得到查询的参数
        function queryParams() {
            var temp = { //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                loginname:$("#searchLoginname").val(),
                name:$("#searchName").val()
            };
            return temp;
        }
    </script>
</head>
<body>
<!-- 搜索列表 -->
<div style="text-align: center">
    <label for="searchLoginname">登录名：</label>
    <input  name="searchLoginname" class="easyui-searchbox" data-options="prompt:'请输入登录名',searcher:reloadtable" style="width:10%" id="searchLoginname">
    <label for="searchName">真实姓名：</label>
    <input  name="searchName" class="easyui-searchbox" data-options="prompt:'请输入真实姓名',searcher:reloadtable" style="width:10%"id="searchName">
</div>
<p></p>
<!-- 用户列表 -->
<table id="tab"></table>
</body>
</html>